.searchTwig{
    input, .ts-dropdown-content *, .item {
        background-color: var(--paragraph);
        color: var(--background);
    }

    .ts-wrapper{
        display: inline-block;
        min-height: 0px;
    }
    .ts-control{
        padding: 0px;
    }

    form{
        tr > td:first-child{
            width: 6rem;
        }
        tr > td:last-child{
            width: 10rem;
        }
    }

    button{
        background-color: var(--primary-foreground);
        padding: 3px;
        margin-top:5px;
        margin-bottom:10px;
    }

    table.result{
        td , th {
            padding: 5px;
            border:1px solid var(--accent);
        }
    } 
}