###> symfony/framework-bundle ###
APP_SECRET=replace_with_your_generated_secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://your_username:your_password@127.0.0.1:5432/your_local_database?serverVersion=18&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://localhost:1025
###< symfony/mailer ###
