html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 3px;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 5px;
    padding: 0;
    margin: 0 30px 0 0;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
}

.nav-button {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.5s ease;
    font-family: inter, sans-serif;
    font-size: 14px;
}
.nav-button:hover {
    color: #ffe36f;
}

header nav ul svg:first-of-type {
    margin-left: 30px;
    margin-right: 15px;
}

header nav ul svg {
    cursor: pointer;
}

header nav ul svg:hover path {
    fill: #f4c400;
    transition: fill 0.5s ease;
}

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 20px;
    margin-top: auto;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.main-footer p {
    color: #64748b;
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
    /* flex: 1; */
}

@media (max-width: 900px) {
    .main-footer {
        padding: 22px 18px;
        margin-top: auto;
    }
    .main-footer p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .main-footer {
        padding: 20px 16px;
        flex-direction: column;
        gap: 8px;
        flex: 1;
    }

    .main-footer p {
        font-size: 0.7rem;
        line-height: 1.4;
    }
}

@media (max-width: 480px) {
    .page {
        width: 95%;
        margin: 40px auto;
    }
    .main-footer {
        padding: 16px 12px;
        /* margin-top: auto; */
    }
    .main-footer p {
        font-size: 0.7rem;
        line-height: 1.4;
    }
}
@media (max-width: 360px) {
    .page {
        width: 92%;
        margin: 20px auto;
    }
    .main-footer {
        padding: 12px 8px;
        margin-top: auto;
    }

    .main-footer p {
        font-size: 0.65rem;
    }
}

.logo-name {
    margin-left: 150px;
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    gap: 5px;
}

.logo-name-het,
.logo-name-nieuwe,
.logo-name-werken {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.logo-name-het {
    color: #ffd400;
}

.logo-name-nieuwe {
    color: #ffffff;
}

.logo-name-two {
    color: #ffe36f;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: -8px;
    margin-left: 3px;
    margin-right: 2px;
}

.logo-name-werken {
    color: #626e81;
}
