body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 40px;
    color: var(--paragraph);
}

form {
    width: 500px;
    margin: 30px auto;
    padding: 25px;
    background-color: var(--header-background);
    border: 1px solid var(--hnnw-yellow-500);
    border-radius: 12px;
}

form div {
    margin-bottom: 15px;
}

label {
    color: var(--paragraph);
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background);
    border: 1px solid var(--hnnw-yellow-400);
    color: var(--paragraph);
    border-radius: 4px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: var(--hnnw-yellow-500);
}

textarea#summary {
    min-height: 80px;
}

textarea#description {
    min-height: 140px;
}

#title-counter,
#summary-counter,
#description-counter {
    font-size: 12px;
    color: var(--hnnw-yellow-300);
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: var(--hnnw-yellow-500);
    color: #020617;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: var(--hnnw-yellow-400);
}

button.loading {
    opacity: 0.7;
    transform: scale(0.98);
    transition: all 0.2s ease;
}

input::placeholder,
textarea::placeholder {
    color: var(--paragraph);
    opacity: 0.5;
    font-style: normal;
    font-weight: 300;
}